* { box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto';
}

/*Baggrund, logo og knapper*/
.topnav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/*Navbar-knapper*/
.topnav {
  display: flex;
  justify-content: center;
  background-color:rgba(134, 134, 134);
}

/*Navbar-knapper enkeltvis*/
.topnav-button1, .topnav-button2, .topnav-button3, .topnav-button4, .topnav-button5 {
  margin-left: 3vw;
  margin-right: 3vw;
  width: 250px;
  height: 100px;
  border-radius: 40px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-width: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}





.topnav-button1:hover, .topnav-button2:hover, .topnav-button3:hover, .topnav-button4:hover, .topnav-button5:hover {
  background-color: rgb(153, 46, 112);
  box-shadow: 0px 0px 8px 0.5px rgb(0, 0, 0);
}

.topnav a:link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.topnav a:visited{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*Kilde: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
/* Hide the link that should open and close the topnav on small screens */
.topnav-container .icon {
  display: none;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  100% {
      transform: scaleY(1)
  }
}

.btn-active a:visited, .btn-active a:link {
  color:rgb(153, 46, 112);
}
  
.btn-active a:hover {
  color: white;
}
  
  
.topnav a {
  display: block;
  height: 100px;
  line-height: 100px;
}
  
.topnav.topnav.responsive a {
  display: block;
  height: 50px;
  line-height: 50px;
}






/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1300px) {
    .topnav-button1, .topnav-button2, .topnav-button3, .topnav-button4, .topnav-button5 {
    display: none;
  }
  .topnav-container .icon {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(0, 0, 0);
    z-index: 3;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1300px) {
  .topnav.responsive {
  margin-top: 0%;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #4e4e4e; 
  padding: 10px;
  justify-content: center;
  align-items: center;
  z-index: 2; 
  animation: growDown 0.5s ease-in-out forwards;
  transform-origin: top center;
  box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
  }

  .topnav.responsive .topnav-button1, .topnav.responsive .topnav-button2, .topnav.responsive .topnav-button3, .topnav.responsive .topnav-button4 {
    display: block;
    margin-bottom: 10px;
  }
}

/*Width and track */
::-webkit-scrollbar {
  width: 5px;
  background:rgb(255, 255, 255);
  border-radius: 10px;
}
  
/*Handle*/
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.rotate{
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down{
  -moz-transform:rotate(-450deg);
  -webkit-transform:rotate(-450deg);
  transform:rotate(-450deg);
}

.footer {
  background: rgb(153, 46, 112);
  width: 100%;
  z-index: 1;
  display: inline-block;
  box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
}

.button4, .button6 {
  font-family: bilo, sans-serif;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 35px;
}

.mail-container {
  display: flex;
  float: left;
  align-items: center;
}

.some-container {
  display: flex;
  float: right;
  margin-right: 2%;
  align-items: center;
}

.fa-linkedin-in, .fa-envelope {
margin-left: 5px;
}

.fa-solid {
  color: black;
}

@media screen and (min-width: 1300px) {
  .footer{
   position: fixed;
   bottom: 0;
  }
}

@media screen and (max-width: 1300px) {
.footer {
  display: flex;
  flex-direction: column;
}

.mail-container {
  display: flex;
  justify-content: center;
}

.some-container {
  display: flex;
  justify-content: center;
}

.button4 {
  font-size: 15px;
  font-weight: 600;
}

.topnav-button1, .topnav-button2
  {
    margin:0;
  }
}

.some-container:hover, .fa-envelope:hover {
  animation: jump 1s;
  scale: 1.1
}
  
  
@keyframes jump {
  100% { transform: translate(0%, -10%); }
}

@keyframes fadeIn { 
  0% { opacity: 0; }
  100% { opacity:1; }
}


/*
@media screen and (max-width: 1300px) {
  #topnav-background {
    display: none;
    } 
  }
  
  @media screen and (min-width: 1300px) {
    #topnav-background-mobile {
    display: none;
    } 
  }
*/

.wrapper {
  min-height: 100%;
  margin-bottom: 150px;
  overflow: hidden;
}

.footer,
.push {
  height: 50x;
  overflow: hidden;
}

.overflow-wrapper {
  overflow: hidden;
}

