* { box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto';
}

/*Baggrund*/
#topnav-background {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  z-index: -2;
}

.projekter {
  margin-top: 125px;
  color: #FBB03B;
  font-size: 400%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 140px;
  column-gap: 20px;
  margin-bottom: 150px;
  margin-top: 80px;
}

/*
.grid-container > * {
  padding: 20px;
  border: 5px solid rgb(198,164,154);
  background-color: rgba(198,164,154,.2);
  border-radius: 5px;
}
*/

.one, .two, .three, .four, .five, .six {
  background-color: #000000b0; 
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
  height: 90%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.one {
  grid-column: 1/3;
  grid-row: 1/2;
}

.two {
  grid-column: 2/3;
  grid-row: 1/2;
}

.three{
  grid-column: 3/3;
  grid-row: 1/2;
}

.four {
  grid-column: 1/3;
  grid-row: 2/2;
}

.five {
  grid-column: 2/3;
  grid-row: 2/2;
}

.six {
  grid-column: 3/3;
  grid-row: 2/2;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover{
  overflow-y: auto;
}

.one h1, .two h1, .three h1, .four h1, .five h1, .six h1 {
  color: rgb(153, 46, 112);
  font-size: 200%;
  margin: 0;
}

.one h2, .two h2, .three h2, .four h2, .five h2, .six h2 {
  color: #FBB03B;
  text-decoration: none;
  font-size: 125%;
}

a { color: inherit; } 

.one p, .two p, .three p, .four p, .five p, .six p {
  color: white;
  font-size: 100%;
}

.richters {
  width: 100%;
  height: 10vw;
}

.how-to-video {
   width: 100%;
   height: 10vw;
}

.flaske {
  width: 100%;
  height: 10vw;
}

.animation-video {
  width: 100%;
  height: 10vw;
}

@media screen and (max-width: 1300px) {
  .reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .one, .two, .three, .four, .five, .six {
    overflow-y: hidden;
    height: 100%;
  }
  .one{
    margin: 0;
  }

  .two{
    margin: 0;
  }

  .three{
    margin: 0;
  }

  .four{
   margin: 0;
   margin-bottom: -350px;
  }

  .five{
   display: none;
   margin: 0;
  }

  .six{
   display: none;
   margin: 0;
  }

  .projekter {
    margin-top: 75px;
  }

  .projekter {
    margin-top: 75px;
  }

  .richters {
    height: 30vw;
  }

  .how-to-video {
    height: 30vw;
  }
  .flaske {
    height: 30vw;
  }
  .animation-video {
    height: 30vw;
  }
}

@media screen and (min-width: 1300px) {
  .one, .two, .three, .four, .five, .six {
    transition:transform 0.25s ease;
  }

  .one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    -webkit-transform:scale(1.2); /* or some other value */
    transform:scale(1.2);
  }
}






































